body {
    font-family: Tahoma, sans-serif; /* These fonts should be accessible and easy-to-read */
    background: white;
    color: black;
}

.cursor-pointer { cursor: pointer }

/* Overwrite the default float left property from Bootstrap */
.form-check .form-check-input { float: none }

/* Navigation styles */

nav { background: #0d6efd }

/* Make the navbar a little bigger than the default in Bootstrap for easier reading */
.navbar-brand { font-size: 1.5rem }

a.nav-link { font-size: 1.25rem }

/* Overwrite the default hover color from Bootstrap of nav links with the text-white class */
a.nav-link.text-white:hover { color: yellow !important }

/* Dark mode styles */

body.dark-mode, body.dark-mode .list-group-item {
    background: #333;
    color: white;
}

body.dark-mode figure.border, body.dark-mode figure.border figcaption { background: #222 }

body.dark-mode nav { background: #131313 }

body.dark-mode ul.dropdown-menu {
    background: #444;
    color: white;
}

body.dark-mode input[type=number], body.dark-mode select { background-color: #ccc }

body.dark-mode a.dropdown-item { color: white }

body.dark-mode a.dropdown-item:hover { background: #555 }

/* Small font styles */

body.small-font { font-size: 0.85rem }

body.small-font .navbar-brand { font-size: 1.25rem }

body.small-font a.nav-link { font-size: 1rem }

@media screen and (max-width: 575px) {
    ul { padding-left: 0.5em }

    /* On small screens, position-absolute leads overlapping with other content */
    figure.position-absolute.bottom-0 { position: relative !important }
}

@media screen and (max-width: 991px) {
    /* Force a reasonable size for the graphs in the mobile view */
    figure.border { min-height: 30vh }
}
