body {
    font-family: Tahoma, sans-serif; /* These fonts should be accessible and easy-to-read */
    background: white;
    color: black;
}

.cursor-pointer {
    cursor: pointer;
}

.form-check .form-check-input {
    float: none; /* Overwrite the default float left property from Bootstrap */
}

/* Navigation styles */

nav {
    background: #0d6efd;
}

.navbar-brand {
    font-size: 1.5rem; /* Make the navbar a little bigger than the default in Bootstrap for easier reading */
}

a.nav-link {
    font-size: 1.25rem;
}

a.nav-link.text-white:hover {
    color: yellow !important; /* Overwrite the default hover color from Bootstrap of nav links with the text-white class */
}

/* Dark mode styles */

body.dark-mode, body.dark-mode .list-group-item {
    background: #333;
    color: white;
}

body.dark-mode nav {
    background: #131313;
}

body.dark-mode ul.dropdown-menu {
    background: #444;
    color: white;
}

body.dark-mode select {
    background-color: #ccc;
}

body.dark-mode a.dropdown-item {
    color: white;
}

body.dark-mode a.dropdown-item:hover {
    background: #555;
}

/* Small font styles */

body.small-font {
    font-size: 0.85rem;
}

body.small-font .navbar-brand {
    font-size: 1.25rem;
}

body.small-font a.nav-link {
    font-size: 1rem;
}
